#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 30px;
}

h3 {
  margin-bottom: 24px;
}

.input-nome.sc-ion-input-md-h.sc-ion-input-md-s.md.input-fill-outline.input-label-placement-floating {
  position: absolute;
  width: 350px;
  margin-bottom: 11px;
  left: 616px;
}

.input-email.sc-ion-input-md-h.sc-ion-input-md-s.md.input-fill-outline.input-label-placement-floating {
  position: absolute;
  width: 350px;
  margin-top: 30px;
  left: 616px;
}

.input-password.sc-ion-input-md-h.sc-ion-input-md-s.md.input-fill-outline.input-label-placement-floating {
  position: absolute;
  width: 350px;
  margin-top: 60px;
  left: 616px;
}

.input-tipo.sc-ion-input-md-h.sc-ion-input-md-s.md.input-fill-outline.input-label-placement-floating {
  position: absolute;
  width: 350px;
  margin-top: 90px;
  left: 616px;
}

.button-cadastro {
  position: absolute;
  margin-top: 169px;
  left: 714px;
}
